body{
    margin: 0;
    font-family: 'Salsa', cursive;
    font-size: 15px;
    line-height: 20px;
    
}
header{
    background-color: #C3E2C2;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
header h1{
    font-family: 'Rubik Maps', system-ui;
    color: #092635;
    font-size: 60px;
    text-transform: uppercase;
}
header img{
    
    border-radius: 139px;
    border: 10px solid snow;
}
main{
    background-color: #EAECCC;
    max-width: auto;
    text-align: left;
    margin: 0 auto;
    padding: 0 5px 10px 10px;

}
main img{
    max-width: 100%;
}
h2{
    font-size: 35px;

}
p{
    color: #3F2E3E ;
}
a:hover{
    background-color: yellow;
    color: red;
}
footer{
    background-color: #DBCC95 ; 
    text-align: center;
    font-size: 10px;
}
footer p{
    margin: 0;
}
footer a{
    color: #092635;
}
footer a:hover{
    opacity: .5;
    background-color: transparent;
}